Repository ViragJain3010/Kodex: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter ./client lint:check, pnpm --filter ./client format:check, pnpm --filter ./server lint:check, pnpm --filter ./server format:check

.lintstagedrc.json:

{
  "client/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter ./client lint:check",
    "pnpm --filter ./client format:check"
  ],
  "server/**/*.{js,ts}": [
    "pnpm --filter ./server lint:check",
    "pnpm --filter ./server format:check"
  ]
}

docs(server): Setup updates
  server/README.md
Due: none

docs(server): update README.md
  server/README.md
Due: none

docs(root): update README.md
  README.md
  server/assets/kodex-demo.gif
Due: none

docs: update README.md
  README.md
Due: none

config: updated lint cmds and some optimisations
  .github/workflows/validate.yml
  .lintstagedrc.json
  client/eslint.config.mjs
  client/package.json
  server/README.md
  server/package.json
Due: none

docs(root): update .gitignore
  .gitignore
Due: none

docs: Update README
  README.md
Due: none

Update README.md
  README.md
Due: none

Refactor(client): Removed the dev(beta) changes to push to prod.
  client/src/app/terminal/page.js
  pnpm-workspace.yaml
Due: pnpm --filter ./client lint:check, pnpm --filter ./client format:check

Feat(logger): Added logger service
  logger/.gitattributes
  logger/.gitignore
  logger/Readme.md
  logger/build.gradle
  logger/gradle/wrapper/gradle-wrapper.jar
  logger/gradle/wrapper/gradle-wrapper.properties
  logger/gradlew
  logger/gradlew.bat
  logger/settings.gradle
  logger/src/main/java/com/kodex/logger/HelloController.java
  logger/src/main/java/com/kodex/logger/LoggerApplication.java
  logger/src/main/java/com/kodex/logger/config/LoggerConfig.java
  logger/src/main/java/com/kodex/logger/controller/LoggerController.java
  logger/src/main/java/com/kodex/logger/dto/AnalyticsResponse.java
  logger/src/main/java/com/kodex/logger/dto/LogStatsResponse.java
  logger/src/main/java/com/kodex/logger/dto/TimeSeriesData.java
  logger/src/main/java/com/kodex/logger/entity/Log.java
  logger/src/main/java/com/kodex/logger/repository/LogRepository.java
  logger/src/main/java/com/kodex/logger/service/AnalyticsService.java
  logger/src/main/java/com/kodex/logger/service/ScheduledTasks.java
  logger/src/main/java/com/kodex/logger/spec/LogSpecification.java
  logger/src/main/resources/application.properties
  logger/src/test/java/com/kodex/logger/LoggerApplicationTests.java
Due: none

refactor(client): updated DevNotes
  client/src/components/DeveloperNotesModal/DevNotesModal.js
Due: pnpm --filter ./client lint:check, pnpm --filter ./client format:check

refactor(server): updated prisma client and dependencies, updated commit-lint config
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  .lintstagedrc.json
  client/package.json
  package.json
  server/.gitignore
  server/.prettierignore
  server/config/passport.config.js
  server/config/prisma.js
  server/controller/Auth.controller.js
  server/controller/Snippet.controller.js
  server/eslint.config.js
  server/index.js
  server/package.json
  server/prisma/schema.prisma
  server/server.js
  server/tests/server.test.js
Due: pnpm --filter ./server lint:check, pnpm --filter ./server format:check

fix(client): build and API usage fix
  client/.gitignore
  client/src/app/terminal/page.js
  client/src/utils/config.js
Due: pnpm --filter ./client lint:check, pnpm --filter ./client format:check

Fix React Server Components CVE vulnerabilities
  client/package.json
  pnpm-lock.yaml
  server/standalone/package.json
Due: none

feat(client): route /api requests via vercel proxy to backend
  client/vercel.json
Due: none

fix(client): changed config to match vercel.json
  client/src/utils/config.js
Due: pnpm --filter ./client lint:check, pnpm --filter ./client format:check

refactor(client): devnotes modal improvments, footer adjustments
  client/README.md
  client/src/components/DeveloperNotesModal/DevNotesModal.js
  client/src/components/Footer/Footer.js
  client/src/components/Hello.jsx
Due: pnpm --filter ./client lint:check, pnpm --filter ./client format:check

docs(server): added descriptive doc-comments to functions
  server/.gitignore
  server/controller/Auth.controller.js
  server/controller/Execute.controller.js
  server/controller/Snippet.controller.js
  server/middleware/auth.middleware.js
  server/services/Email.Service.js
  server/tests/server.test.js
  server/tests/unit/controller/Auth.controller.test.js
  server/tests/unit/controller/Execute.controller.test.js
  server/tests/unit/controller/Snippet.controller.test.js
  server/tests/unit/middleware/auth.middleware.test.js
  server/tests/unit/models/Snippet.model.test.js
  server/tests/unit/models/User.model.test.js
  server/tests/unit/services/Email.Service.test.js
  server/tests/unit/utils/Docker.test.js
  server/utils/Docker.js
  server/utils/validators.js
Due: pnpm --filter ./server lint:check, pnpm --filter ./server format:check

refactor(client): migrated to typescript for type safety
  client/package.json
  client/src/app/[slug]/page.tsx
  client/src/app/layout.tsx
  client/src/app/page.tsx
  client/src/components/Auth/ForgotPassword/ForgotPasswordForm.tsx
  client/src/components/Auth/Login/LoginForm.tsx
  client/src/components/Auth/ResetPassword/ResetPasswordForm.tsx
  client/src/components/Auth/SignUp/SignUpForm.tsx
  client/src/components/DeveloperNotesModal/DevNotesModal.tsx
  client/src/components/DropdownPane/DropdownPane.tsx
  client/src/components/DropdownPane/ResetDialog.tsx
  client/src/components/Editor/Editor.tsx
  client/src/components/Footer/Footer.tsx
  client/src/components/Header/Header.tsx
  client/src/components/Header/KodexLogo.tsx
  client/src/components/Input/Input.tsx
  client/src/components/Loader/CubeLoader/CubeLoader.tsx
  client/src/components/Loader/LoadingSpinner.tsx
  client/src/components/Loader/ThreeSpinLoader/ThreeSpinLoader.tsx
  client/src/components/Output/Output.tsx
  client/src/components/ResizableLayout/ResizableLayout.tsx
  client/src/components/Terminal/Terminal.js
  client/src/components/Terminal/xterm.css
  client/src/components/ui/sheet.tsx
  client/src/context/AuthContext.tsx
  client/src/context/EditorContext.tsx
  client/src/context/ThemeProvider.js
  client/src/context/ThemeProvider.tsx
  client/src/lib/EditorThemes.ts
  client/src/utils/config.js
  client/src/utils/config.ts
  client/src/utils/timeUtils.ts
  client/tsconfig.json
Due: pnpm --filter ./client lint:check, pnpm --filter ./client format:check

perf(client): major performance optmisations
  client/src/app/[slug]/page.tsx
  client/src/app/page.tsx
  client/src/components/DropdownPane/DropdownPane.tsx
  client/src/components/Editor/Editor.tsx
  client/src/components/Header/Header.tsx
  client/src/components/Header/KodexLogo.css
  client/src/components/Header/KodexLogo.tsx
  client/src/components/Input/Input.tsx
  client/src/components/Output/Output.tsx
  client/src/components/ResizableLayout/ResizableLayout.tsx
  client/src/context/EditorContext.tsx
  client/src/context/editor/EditorContentContext.tsx
  client/src/context/editor/EditorSettingsContext.tsx
  client/src/context/editor/ExecutionContext.tsx
  client/src/context/editor/SnippetContext.tsx
Due: pnpm --filter ./client lint:check, pnpm --filter ./client format:check

feat: added authentication
  client/package.json
  client/src/app/(auth)/forgot-password/page.tsx
  client/src/app/(auth)/reset-password/page.tsx
  client/src/app/layout.tsx
  client/src/app/login/page.tsx
  client/src/app/oauth-callback/page.tsx
  client/src/app/signup/page.tsx
  client/src/components/Auth/LogoutOverlay.tsx
  client/src/components/Header/Header.tsx
  client/src/context/AuthContext.tsx
  client/src/lib/api.ts
  server/api/index.js
  server/controller/Auth.controller.js
  server/models/User.model.js
Due: pnpm --filter ./client lint:check, pnpm --filter ./client format:check, pnpm --filter ./server lint:check, pnpm --filter ./server format:check

fix(client): fixed loader getting stuck on first load
  client/src/components/Editor/Editor.tsx
  client/src/components/Loader/EditorSkeleton.tsx
  client/src/components/ResizableLayout/ResizableLayout.tsx
Due: pnpm --filter ./client lint:check, pnpm --filter ./client format:check

fix(server): email service provider changed
  pnpm-lock.yaml
  server/services/Email.Service.js
Due: pnpm --filter ./server lint:check, pnpm --filter ./server format:check

fix: production fixes
  client/package.json
  client/src/app/(auth)/reset-password/page.tsx
  client/src/components/Auth/SignUp/SignUpForm.tsx
  pnpm-lock.yaml
Due: pnpm --filter ./client lint:check, pnpm --filter ./client format:check

fix: production fixes
  client/package.json
  pnpm-lock.yaml
Due: none

perf(server): optmised the docker files and reduced size
  server/.dockerignore
  server/Dockerfile
  server/config/Languages.config.js
  server/docker-compose.dev.yml
  server/docker-compose.yml
  server/docker/cpp/Dockerfile
  server/docker/javascript/Dockerfile
  server/docker/python/Dockerfile
  server/pnpm-lock.yaml
  server/scripts/build_and_push.dev.sh
  server/server.js
  server/utils/Docker.js
Due: pnpm --filter ./server lint:check, pnpm --filter ./server format:check

refactor(platform): Updated conventional git commits
  commitlint.config.js
Due: none

ci: modernize pipeline and fix codebase regressions
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .github/workflows/test-client.yml
  .github/workflows/test-server.yml
  .github/workflows/validate.yml
  client/package.json
  client/src/tests/components/Hello.test.jsx
  client/src/tests/sanity.test.js
  package.json
  server/package.json
  server/tests/unit/utils/Docker.test.js
  server/utils/Docker.js
  turbo.json
Due: pnpm --filter ./client lint:check, pnpm --filter ./client format:check, pnpm --filter ./server lint:check, pnpm --filter ./server format:check

refactor: remove accidental embedded repo and update gitignore
  .gitignore
Due: none

fix: correct gitignore for worktrees
  .gitignore
Due: none

test: introduce lint failure in client
  client/src/lib/utils.ts
Due: pnpm --filter ./client lint:check, pnpm --filter ./client format:check

fix: server test paths and client eslint config
  client/eslint.config.mjs
  client/package.json
  pnpm-lock.yaml
  server/tests/unit/utils/Docker.test.js
Due: pnpm --filter ./server lint:check, pnpm --filter ./server format:check

test: scenario 2 (pass lint, fail test) in client
  client/eslint.config.mjs
  client/src/lib/utils.ts
  client/src/tests/sanity.test.js
Due: pnpm --filter ./client lint:check, pnpm --filter ./client format:check

ci(platform): CI changes
  .github/workflows/ci.yml
  client/src/components/Auth/ForgotPassword/ForgotPasswordForm.tsx
  client/src/components/Auth/Login/LoginForm.tsx
  client/src/components/Auth/LogoutOverlay.tsx
  client/src/components/Auth/ResetPassword/ResetPasswordForm.tsx
  client/src/components/Auth/SignUp/SignUpForm.tsx
  client/src/components/Editor/Editor.tsx
  client/src/tests/sanity.test.js
  package.json
  server/tests/server.test.js
  server/tests/unit/utils/Docker.test.js
  server/vitest.config.js
  turbo.json
Due: pnpm --filter ./client lint:check, pnpm --filter ./client format:check, pnpm --filter ./server lint:check, pnpm --filter ./server format:check
